<?xml version="1.0"?>
<configuration>
    <appSettings>
		<!-->fh：復華；nan：南山-->
		<add key="company" value="fh"/>
		<!--Testing = 1為測試環境 0為正式環境-->
		<add key="Testing" value="0"/>
	        
		<!--國內股票價格檔案-->
        	<add key="StockPriceFile" value="D:\AP_File\STK\Price\STK_StkRefPriceFile\"/>

		<!--國內期權價格檔案-->
	        <add key="FOPriceFile" value="D:\AP_File\STK\Price\STK_DerRefPriceFile\"/>

		<add key="Administrator" value="531,573"/>
		<!--成交回報轉檔要收到訊息的人(交易室)-->
		<add key="TradeConfirmUser" value="531,573,310,706,223,664,496,565,611"/>
   		<!--成交回報轉檔要收到訊息的人(中台)-->
		<!--add key="SettleConfirmUser" value="aliceshaw@transglobe.com.tw;pattylin@transglobe.com.tw;aprilchan@transglobe.com.tw;sharonwu@transglobe.com.tw;cindylee@transglobe.com.tw;JackTu@transglobe.com.tw"/-->
		<add key="SettleConfirmUser" value="aliceshaw@transglobe.com.tw;pattylin@transglobe.com.tw;aprilchan@transglobe.com.tw;cindylee@transglobe.com.tw;sharonwu@transglobe.com.tw"/>

	        <!-- CMoney 使用 Mail Account 與  Parameter -->
		<add key="CmoneyMail" value="service@cmoney.com.tw"/><!--CMoney 發送開盤參考價之寄件者--> 
		<!--add key="stkAccount" value="AMSTest"/--><!--國內收信帳號(stkAccount)-->
		<add key="stkAccount" value="AMSProd"/><!--國內收信帳號(stkAccount)-->
		<add key="stkPassword" value="mju72wsx"/><!--國內收信密碼(stkPassword)-->
		<!-- Update At 2016/10/11
		    add key="rootPath" value="D:\AP_File\STK\Confirmation\STK_TradeConfirm\"/
		--><!--券商回報檔存放位置(rootPath)-->
		<add key="rootPath" value="\\10.67.0.198\AP_File\STK\Confirmation\STK_TradeConfirm\"/><!--券商回報檔存放位置(rootPath)-->

		<!-- Easy Mail Licence Key & Parameter -->
		<add key="LicenseKey" value="Transglobe Life Insurance Inc. (Unlimited Developer)/0030651710321900C285"/>
    		<add key="KeepMailPar" value="2"/><!--是否要保留, Exchange Server的信, 0:保留, 2:不保留-->


		<!--成交回報轉檔要收到訊息的人-->
		<!--國內券商成交回報相關參數開始-->
		<!--<add key="rootPath" value="\\pser\Public\TradeConfirmTW\"/>(正式)復華國內收信後存放位置(rootPath)-->
		<add key="OmgeoOutputPath" value="\\Fuh-Omgeo2\OG Workstation 2.0\IEDELV\"/><!--Omego 的 Output.Csv 檔案的存放位置(OmegoOutputPath)-->
		<add key="GlRootPath" value="\\pser\Public\TradeConfirmGL\"/><!--海外成交回報的存放位置(GlRootPath)-->
		<add key="GlstkAccount" value="global_trade"/><!--海外收信帳號(GlstkAccount)-->
		<add key="GlstkPassword" value="Qoo000"/><!--海外收信密碼(GlstkPassword)-->
		<add key="stkHost" value="mail3.transglobe.com.tw"/><!--收信伺服器(stkHost)-->
		<add key="TempDir" value="C:\Temp\"/><!--收信暫存資料夾(TempDir)-->
		<!--國內券商成交回報相關參數結束-->
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<connectionStrings>
   <!-- 正式_訊息資料庫 -->
  <add name="P_MisApp" connectionString="Data Source=tqbDahmaqqbKahaa;User Id=0qbIahqa26b7agSazqbOafWayqb_agOa0qbIaa++;Password=z6bPag6a3Kb7ahqa26bPahma3aa+;Initial Catalog=tqbDahmaqqbKahaa;encrypted=Y;providerName=System.Data.SqlClient;"/>
   <!-- 正式_電子下單資料庫_新 -->
  <add name="P_ETS_N" connectionString="Data Source=mqaKacSan6aRacSamaaIadiamqaOacKaoaaKad6amaa+;User Id=vabhaeKaxKb7agqa1qbDagSa;Password=iqbraeeaw6baaf2auKbyaa++;Initial Catalog=rqbuafmaxKbqaa++;encrypted=Y;providerName=System.Data.SqlClient;"/>
   <!-- 測試_電子下單資料庫_新 -->
  <add name="T_ETS_N" connectionString="Data Source=mqaKacSan6aRacSamaaIadiamqaOacKaoaaKad6amaa+;User Id=vabhaeKaxKb7agqa1qbDagSa;Password=iqbraeeaw6baaf2auKbyaa++;Initial Catalog=rqbuafmaxKbqaa++;encrypted=Y;providerName=System.Data.SqlClient;"/>
   <!-- 正式_舊共同基金資料庫           共同基金 舊基金系統 -->
  <add name="P_AM_isdb00" connectionString="Data Source=mqaKacSan6aRacSamaaIadiamqaOacKaoaaKad6amaa+;User Id=vabhaeKaxKb7agqa1qbDagSa;Password=iqbraeeaw6baaf2auKbyaa++;Initial Catalog=0qbNagqay6buae2ataa+;encrypted=Y;providerName=System.Data.SqlClient;"/>
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.Win.C1FlexGrid.2" publicKeyToken="79882D576C6336DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.20071.324" newVersion="2.6.20071.324"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
