<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<!-- 這個區段定義 My.Application.Log 的記錄組態-->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<connectionStrings>
				
	
		<!-- ================================================================================================================-->
		<!--正式_Cmoney資料源-->
    <!--add name="P_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=datamart;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/-->
    <!--TGL_Cmoney資料源-->
    <!--add name="P_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=tcp:10.67.99.105,8888;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->
    <add name="P_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=tcp:10.67.99.107;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/>
    <!--add name="P_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=tcp:10.67.99.106,8000;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->
    <!--add name="P_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=tcp:10.67.0.214,8080;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->


    <!--正式_Lipper資料源-->
		<add name="P_Lipper" connectionString="Initial Catalog=Lipper;Data Source=datamart;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
		<!--正式_TEJ資料源-->
		<add name="P_TEJ" connectionString="Initial Catalog=TEJ;Data Source=datamart;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
		<!--正式_Bloomberg資料源-->
		<add name="P_Bloomberg" connectionString="Initial Catalog=Bloomberg;Data Source=datamart;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
		<!--正式_整合資料源-->
		<add name="P_DataPool" connectionString="Initial Catalog=DataPool;Data Source=datamart;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!--Reuters資料庫-->
    <add name="P_Reuters" connectionString="Initial Catalog=Reuters;Data Source=DataMart;User Id=equityAnalysis_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>

    <!--測試_Cmoney資料源-->
    <add name="T_Cmoney" connectionString="Initial Catalog=Cmoney;Data Source=fhdevdb1;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!--測試_Lipper資料源-->
    <add name="T_Lipper" connectionString="Initial Catalog=Lipper;Data Source=fhdevdb1;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!--測試_TEJ資料源-->
    <add name="T_TEJ" connectionString="Initial Catalog=TEJ;Data Source=fhdevdb1;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!--測試_Bloomberg資料源-->
    <add name="T_Bloomberg" connectionString="Initial Catalog=Bloomberg;Data Source=fhdevdb1;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!--測試_整合資料源-->
    <add name="T_DataPool" connectionString="Initial Catalog=DataPool;Data Source=fhdevdb1;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
    <!-- ================================================================================================================-->

    <!--正式_基金系統公募資料庫-->
    <!--add name="P_isdb00" connectionString="Data Source=ESER;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDB00;" providerName="System.Data.SqlClient"/-->

    <!--正式_基金系統公募資料庫-->
    <!--add name="P_isdb00" connectionString="Initial Catalog=isdbTGL;Data Source=tcp:10.67.99.105,8888;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->
    <!--add name="P_isdb00" connectionString="Initial Catalog=isdbTGL;Data Source=tcp:10.67.99.106,8000;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->
    <add name="P_isdb00" connectionString="Initial Catalog=isdbTGL;Data Source=tcp:10.67.99.107;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/>

    <!--add name="P_isdb00" connectionString="Initial Catalog=isdbTGL;Data Source=tcp:10.67.0.214,8080;User Id=TGL_Admin;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/-->
 

    <!--正式_基金系統代操資料庫-->
    <add name="P_isdb00new" connectionString="Data Source=AMDB3;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDB00NEW;" providerName="System.Data.SqlClient"/>
    <!--正式_基金系統私募資料庫-->
    <add name="P_isdbPF" connectionString="Data Source=AMDB5\FAS_PF;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDBPF;" providerName="System.Data.SqlClient"/>
    <!--正式_基金系統ETF資料庫 -->
    <add name="P_isdbETF" connectionString="Data Source=AMDB4;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=isdbETF;" providerName="System.Data.SqlClient"/>
    <!--正式_基金系統模擬資料庫 -->
    <add name="P_isdbD2" connectionString="Data Source=AMDB4-DR;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=isdbD2;" providerName="System.Data.SqlClient"/>

    <!--測試_基金系統公募資料庫-->
    <add name="T_isdb00" connectionString="Data Source=FHDEVDB1;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDB00;" providerName="System.Data.SqlClient"/>
    <!--測試_基金系統代操資料庫-->
    <add name="T_isdb00new" connectionString="Data Source=FHDEVDB1;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDB00NEW;" providerName="System.Data.SqlClient"/>
    <!--測試_基金系統私募資料庫-->
    <add name="T_isdbPF" connectionString="Data Source=FHDEVDB1;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=ISDBPF;" providerName="System.Data.SqlClient"/>
    <!--測試_基金系統ETF資料庫 -->
    <add name="T_isdbETF" connectionString="Data Source=FHDEVDB1;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=isdbETF;" providerName="System.Data.SqlClient"/>
    <!--測試_基金系統模擬資料庫 -->
    <add name="T_isdbD2" connectionString="Data Source=FHDEVDB1;User Id=intranet_admin;Password=fuhwatrust;Initial Catalog=isdbD2;" providerName="System.Data.SqlClient"/>
    <!-- ================================================================================================================-->
	<!--正式_訊息資料庫-->
	<add name="P_MisApp" connectionString="Initial Catalog=MisApp;Data Source=MisApp;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
	<!--正式_FHDM-->
	<add name="P_IXGW1" connectionString="Initial Catalog=IXGW_STOCK;Data Source=FHDM;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>
	<add name="P_IXGW2" connectionString="Initial Catalog=Riskmgt;Data Source=FHDM;User Id=intranet_admin;Password=fuhwatrust;" providerName="System.Data.SqlClient"/>

	<!-- 正式_共同基金會計與結算資料庫A         舊基金系統  共同基金 分割而來 -->
	<add name="P_AM_GLFNMF" connectionString="Data Source=eser;User Id=am_admin;Password=marquee3%;Initial Catalog=isdb00;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
